# https://docs.lemonsqueezy.com/guides/developer-guide/getting-started#create-an-api-key
LEMONSQUEEZY_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5NGQ1OWNlZi1kYmI4LTRlYTUtYjE3OC1kMjU0MGZjZDY5MTkiLCJqdGkiOiJkY2I0YzkyNGRiMWYxNjdiNWRlYTEyZjE1YzA2OGRiOWM4ZjBkZjk0ZDRhMGNlZGQwMWRhMzU0N2U4N2IzNThhZDQwZmE2MTFiOGZhMmExZiIsImlhdCI6MTcyMzQ3MDUxMS42NDQ0NCwibmJmIjoxNzIzNDcwNTExLjY0NDQ0MywiZXhwIjoyMDM5MDAzMzExLjYwODgxNiwic3ViIjoiMTIzMTEyNiIsInNjb3BlcyI6W119.xDjpk1Hhqwm4Ih7kILWxgxJpVBqaAwzbjI4Ky2MXHSChHpAIxxpWFxf7P5pFstUB0a4MKr09TtSwVuc08b4L9pTgMuXGdfp3mKTrQ7AgyJSShGz1i7Y8GwrgT1yTLGgzPN8D_WzPsGFRFgFobhHzvGZZk17sgg1rQ1NfLIUyliXh3MzmZ2AS6Npf7BLTwQ87jfw4T_evlQAeV94L34ti3CqUrci46CGMxy_SjWrKKwta57C5Ih5qK_1jOKLYhIeF8LLncXwl70ufNfh1kZwI4PgxHXh3XmRaCBOgP5rgIUVsbrJW-DcBTHJBR04vLlriPCcAhl__JxRnCuqq4s0Jucfu6SATb2SHB0T4wUY7iJ4SKAAJjbp3ucNkVbH90KuIFBo7nsEXO2Kzp9aN0T31rqkmtWXVmgXFuq8RAg_0BBFTI_Oy249ffEoyfdgXAuBPCbgG0u4MuiWwi-51ue6RynloansdR8CA8A7XlgAA9PVqIAY1rpl1YU2G9oJC9ZQE
LEMONSQUEEZY_STORE_ID=42720
LEMONSQUEEZY_WEBHOOK_SECRET=ISMAILKASMI19

# Webhooks require a public URL, use ngrok to expose local server to the internet.
# https://ngrok.com/
# Webhook endpoint (/api/webhook) will be automatically appended to the URL.
WEBHOOK_URL=

# https://console.neon.tech/signup
# postgres://....
POSTGRES_URL=postgresql://c38279:xau_jrG9trI8UWOFPgYMP6LXUgHvwsh1AMYp1@us-east-1.sql.xata.sh/Billing:main?sslmode=require

# https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
# Callback URL: http://your-site.com/api/auth/callback/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Linux: run `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
AUTH_SECRET=https://generate-secret.now.sh/32

# URL of the Next.js app
# http://localhost:3000 for local development
NEXT_PUBLIC_APP_URL=
